* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

* {
    color: inherit;
}

.body {
    background-color: #eaeaea;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
    animation: fade .5s ease forwards;
}

h1 {
    font-weight: 200;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    animation: fade .5s ease forwards;
}

.bio {
    animation: fade .5s ease forwards;
}

.bio {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    padding: 100px 8% 0;
}

.bio li {
    text-decoration: none;
}

.logo {
    font-size: 25px;
    color: #222;
    text-decoration: none;
    font-weight: 600;

}

.navbar a:hover,
.navbar a.active{
    color: orange;
}

.socialmedia {
    color: white;
    font-size: 30px;
    animation: fade .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

@keyframes fade {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.contact {
    color: #222;
    margin-top: 100px;
}

.box .col-3 {
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

.icon {
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    margin: 0 auto;
}

.box .col-3 h2 {
    margin: 30px 0;
}